html, body {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.nav-bar{
  height: 60px;
  width: 100%;
  background: linear-gradient(hsla(0, 0%, 0%, 0.900), hsla(0, 0%, 0%, 0.0));
  position: fixed;
  z-index: 1;
}



.contenedor-logo{
  position: absolute;
  left: 4%;
  height: 60px;
  width: 10%;
}

.contenedor-logo2{
  position: absolute;
  
  height: 60px;
  width: 10%;
}

.logo{
  height: 100%;
  width: auto;
}


.search-box{
  position: absolute;
  top: 50px;
  left: 53%;
  transform: translate(-50%, -75%);
  background: rgba(42, 42, 42, 0.3);
  height: 30px;
  border-radius: 35px;
  padding: 10px;
}

.search-box:hover > .search-text{
  width: 240px;
  padding: 0 6px;
}

.search-btn{
  color: #4eeaf6;
  float: right;
  width: 20px;
  height: 30px;
  border-radius: 20px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#placeholder::-webkit-input-placeholder { 
  color: rgba(255, 255, 255, 0.8);
 } 
 #placeholder:-moz-placeholder { /* Firefox 18- */ color: rgba(255, 255, 255, 0.8); } 

 #placeholder::-moz-placeholder { /* Firefox 19+ */ color: rgba(255, 255, 255, 0.8); } 
 
 #placeholder:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }

.search-text{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0;
}

.contenedor-home {
  background-image: url(./img/irish.png);
  background-size: cover;
  position: relative;
  height: 90vh;
  width: 100%;
  animation: slide 20s infinite;
  
}

.contenedor-home-titulos{
  position: absolute;
  margin-left: 4%;
  margin-top: 0%;
  height:80vh;
  width: 40%;
}



h2{
  font-size: 80px;
  letter-spacing: 18px;
  color: white;
}

.descripcion-home{
  font-size: 30px;
  color: white;
  text-align: left;
}


.boton-github{
  padding: 20px 20px 20px 20px;
  background-color: #4eebf6c0;
  margin-top: 10%;
  width: 150px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.boton-github:hover{
  background-color: rgb(81, 235, 246);
  transition: .5s all;
}

.boton-github a{
  display: block;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}





.pelicula-buscada{
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  height: 80vh;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  
}


.parrafobusqueda{
  display: inline-block;
  position: absolute;
  left: 23%;
  top: 35%;
  margin-right: 15%;
  text-align: justify;

}

h4{
  color: white;
  font-size: 50px;
  display: inline-block;
  position: absolute;
  left: 23%;
  margin-right: 5%;
}

.lenguajebusqueda{
  position: absolute;
  bottom: 5%;
  color: #4eeaf6;
  left: 23%;

}

#imagebusqueda{
  position: absolute;
  height: 80%;
  margin-top: 5%;
}

.fechabusqueda{
  position: absolute;
  bottom: 5%;
  color: #4eeaf6;
  left: 28%;
}

#cruzbusqueda{
position: absolute;
color: #4eeaf6;
font-size: 35px;

margin-right: 4%;
top: 25px;
right: 70px;
}


#peliculabuscada{
  display: none;
}


@keyframes slide {
  0%{
    background-image: url(./img/irish.png);
    animation: fade 5s ;
  }
  25%{
    background-image: url(./1917.png);
    animation: fade 5s ;
  }
  50%{
    background-image: url(./img/joker.png);
    animation: fade 5s ;
  }
  75%{
    background-image: url(./img/parasite.png);
    animation: fade 5s ;
  }
}

h1{
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

.accion{
  margin-top: 2%;
  margin-left: 5%;
  border-left: 5px solid #4eeaf6;
}
.peliculas-recomendadas{
  
  margin-bottom: 70px;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-principal{
  display: flex;
  align-items: center;
  position: relative;
}


.peliculas-recomendadas .flecha-izquierda, .flecha-derecha{
  position: absolute;
  border: none;
  
  font-size: 40px;
  height: 100%;
  
  line-height: 40px;
  width: 100px;
  
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.flecha-izquierda{
  background: linear-gradient(-90deg,rgba(0, 0, 0, 0) 0% , rgba(0, 0, 0, 1) 100%);
  left: 0;
  color: #4eeaf6;
}

.flecha-derecha{
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0% , rgba(0, 0, 0, 1) 100%);
  right: 0;
  color: #4eebf6 !important;
}

.flecha-derecha, .flecha-izquierda:focus{
  outline: none;

}

.flecha-izquierda:hover {
  transition: .4s ease-out;
  height: 100%;
  font-size: 60px;
  width: 150px;
}
.flecha-derecha:hover{
  transition: .4s ease-out;
  height: 100%;
  font-size: 60px;
  width: 150px;
}

.peliculas-recomendadas .flecha-izquierda2, .flecha-derecha2{
  position: absolute;
  border: none;
  
  font-size: 40px;
  height: 100%;
  
  line-height: 40px;
  width: 100px;
  
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}

.flecha-izquierda2{
  background: linear-gradient(-90deg,rgba(0, 0, 0, 0) 0% , rgba(0, 0, 0, 1) 100%);
  left: 0;
  color: #4eeaf6;
}

.flecha-derecha2{
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0% , rgba(0, 0, 0, 1) 100%);
  right: 0;
  color: #4eebf6 !important;
}

.flecha-derecha2, .flecha-izquierda2:focus{
  outline: none;

}

.flecha-izquierda2:hover {
  transition: .4s ease-out;
  height: 100%;
 font-size: 60px;
  width: 150px;
}
.flecha-derecha2:hover{
  transition: .4s ease-out;
  height: 100%;
  font-size: 60px;
  width: 150px;
}




.contenedor-carousel{
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
 
.carousel{
  display: flex;
  flex-wrap: nowrap;
}


.pelicula{
  min-width: 8%;
  min-height: auto;
  margin-right: 20px;
  transition: .3s ease all;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
}

.pelicula:hover{
  transform: scale(1.2);
  transform-origin: center;
}

.pelicula img {
  width: 100%;
  height: auto;
  vertical-align: top;

}

.info{
  position: fixed;
  display: none;
  top: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.9);
  width: 90vw;
  height: 620px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5%;
  margin-right: 5%;
  
}

.info a{
  color: rgb(5, 3, 3);
  font-size: 50px;
  text-decoration: none;
  margin-left: 95%;
}




.mini-nav{
  display: none;
}

.over{
  display: none;
}


@media screen and (max-width: 850px){

  body{
    overflow-x: hidden;
  }

  .contenedor-home {
    background-image: url(./img/irish\ mobile.jpg);
    background-size: cover;
    position: relative;
    height: 90vh;
    width: 100%;
    animation: slide2 20s infinite;
   overflow-y: hidden ;
    
  }

  .flecha-derecha2{
    display: none;
  }

  .flecha-izquierda2{
    display: none;
  }

  @keyframes slide2 {
    0%{
      background-image: url(./img/irish\ mobile.jpg);
      animation: fade 5s ;
    }
    25%{
      background-image: url(./img/1917\ mobile.jpg);
      animation: fade 5s ;
    }
    50%{
      background-image: url(./img/joker\ mobile.png);
      animation: fade 5s ;
    }
    75%{
      background-image: url(./img/parasite\ mobile.jpg);
      animation: fade 5s ;
    }
  }
  
  
  .contenedor-home-titulos{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    margin-top: 20%;
    height: 70%;
  }

  h2{
    font-size: 25px;
    display: none;
  }

  .accion{
    border-left: 0px;
    border-bottom: 5px solid #4eeaf6 ;
    margin-right: 5%;
  }
  .accion h1 {
    text-align: center;
    padding-left: 0;
  }

  .descripcion-home{
    font-size: 15px;
    display: none;
  }
  .boton-github{
    display: none;
  }

  .peliculas-recomendadas{
    margin-left: 5%;
    margin-right: 5%;
  }
  .peliculas-recomendadas .contenedor-carousel{
    overflow: visible;
  }

  .carousel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .flecha-izquierda, .flecha-derecha{
    display: none;
  }

  .pelicula{
    margin-right: 0px;
  }

  #primercarrete{
    margin-top: 15%;
  }

  .jeje img{
    height: 50vh;
  }

  .contenedor-logo{
    display: none;
  }



  .search-box{
    left: 50%;
    top: 60px;
  }

  .search-box:hover > .search-text{
    width: 75%;
    padding: 0 6px;
  }

  input:-internal-autofill-selected{
    background: rgba(0, 0, 0, 0.9);
  }

  .info{
    height: 100vh !important ;
    width: 95vw !important;
    margin-left: 2.5vw !important;
    margin-right: 2.5vw !important;
  }

  .info img{
    padding: 0% !important;
    width: 100% !important;
  }
  
  #cruz{
    top: 25px !important;
    right: 10px !important;
  }
  
  .jeje{
    display: block;
    width: 100%;
   
  }

  .pep{
    position: absolute !important;
    top: 50% !important;
    width: 100% !important;
    
  }

  .over{
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
   border-bottom: 5px solid #4eeaf6;
  margin-right: 10% !important;
  }

  .over p{
    font-size: 30px;
    color: white;
   
  }

  .pelicula-buscada{
    height: 150vh;
    margin-left: 0%;
    margin-top: 0%;
    
    justify-content: center;
  }

 h4{
   position: relative;
   left: auto;
   margin-right: 0%;
   top: 80vh;
 }

 .parrafobusqueda{
   left: auto;
   top: 100vh;
   margin-right: 5%;
   margin-left: 5%;
 }

 
  .lenguajebusqueda{
   display: none;
 }

 #fechabusqueda{
   display: none;
 }

  #imagebusqueda{
    width: 100%;
    height: auto;
    margin-top: 0%;
   padding-bottom: 5%;
    
  }

  .pelicula-buscada .logo{
      display: none;
  }

  #cruzbusqueda{
    right: 5%;
    z-index: 1000;
  }

  .post-titulo-info{
    margin-right: 5% !important;
  }

  .pep h5{
    display: none;
  }

  .contenedor-letritas{
    display: none !important;
  }

  .mini-nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
  }

  .mini-nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  .mini-nav a:hover{
    border-bottom: 5px solid #4eeaf6;
  }
}


.prueba{
 background: white;
 opacity: .5;
 position: relative;
 height: 500px;
 width: 1000px;
 display: flex;
 z-index: 1000px;
}




.jeje{
  display: inline-block;
  position: relative;
  


}

.info img{
  
  padding: 2%;
  display: inline;
  
}

.pep2{
  position: relative;
  top: 0;
  display: inline-block;
  padding: 2%;
  width: 100%;
  
}

.pep2 h5{
  position: absolute !important;
  left: 500% !important;
}

.pep{
  position: relative;
  top: 0;
  display: inline-block;
  padding: 2%;
  width: 100%;
  
}

.info h5{
  margin: 0;
  font-size: 60px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
 
  
}

p{
  color: white;
  font-size: 20px;
  text-align: justify;
}

.post-titulo-info{
  position: absolute;
  top: 35%;
  margin-right: 1%;
}

.contenedor-letritas{
  display: inline-block;
 
  width: 50vw;
}

.letritas {
  display: inline-block;
  color: #4eeaf6;
  font-size: 20px;
  margin-left: 2%;

}


.idioma{
  color: white;
  display: inline;
}

.idioma2{
  color: white;
  display: inline;
  margin-left: 5% ;
 
}


#cruz{
  color: #4eeaf6;
  font-size: 35px;
  position: fixed;
  margin-right: 4%;
  top: 25px;
  right: 25px;

}

#cruz:hover{
  color: #91eef5;
}